<html>
  <head>
    <title>Unidad 6</title>
  </head>
  <body>
    <header>
      <h1>Bienvenidos a la unidad nro 6</h1>
      <p>Contruiremos juntos un chat para la comunidad</p>
    </header>

    {{{body}}}

  </body>
</html>
